@CHARSET "UTF-8";

/*					PHANTOM CLASSES						*/
.fixed {position: fixed !important;}
.relative {position: relative !important;}
.absolute {position: absolute !important;}

.float-left {float: left;}
.float-right {float: right;}

.block {display: block;}
.inline {display: inline;}
.inline-block {display: inline-block;}
ul.inline > li {float: left; font-size: 12px; line-height: 40px; margin-right: 10px;}
ul.block > li {display: block; font-size: 10px; line-height: 20px; white-space: nowrap;}
ul > li.drop-down {position: relative;}
ul > li.drop-down > ul {display: none;}
ul > li.drop-down:hover > ul {display: block; position: absolute; top: 40px;}

.margin-top {margin-top: 12px;}
.margin-right {margin-right: 12px;}
.margin-bottom {margin-bottom: 12px;}
.margin-left {margin-left: 12px;}
.margin {margin: 12px;}

.small-square {height: 25px; width: 25px;}
.radius {border-radius: 100px;}

.padding-top {padding-top: 12px;}
.padding-right {padding-right: 12px;}
.padding-bottom {padding-bottom: 12px;}
.padding-left {padding-left: 12px;}
.padding {padding: 12px;}

[class$="-icon"] {background: url("../img/bundles.png") no-repeat transparent; cursor: pointer;}
.x-icon {height: 32px; width: 32px;}

.friend-icon {background-position: -67px -1px;}
.chat-icon {background-position: -100px -1px;}
.book-icon {background-position: -133px -1px;}
.search-icon {background-position: -36px -6px;}

.btn {background-color: #F9B546; border-top: none; border-left: none; border-right: none; border-bottom: 1px solid #A0702E; color: #505050; cursor: pointer; padding: 2px 9px;}
.title, .btn {font-family: "Open Sans", sans-serif; font-weight: bold;}
h1, h2, h3, h4, h5, h6, h7 {margin-bottom: 12px;}
h1 {font-size: 20px;}
.italic {font-style: italic;}

.clearfix:after {clear: both; content: "."; display: block; height: 0; line-height: 0; visibility: hidden;}

form.spaced > * {margin: 12px;}
form.spaced label {display: block; margin-bottom: 5px;}

/*					DEFAULTS 							*/
* {
	color: #505050;
}
*:not([data-animation]) {
			transition: all ease-in-out 0.15s;
	-webkit-transition: all ease-in-out 0.15s;
}
body { background: #F0E8D5; font-family: Georgia, serif; font-size: 12pt;}
input[type="text"], textarea {color: #505050; height: 17px; padding: 3px; outline: 0;}
textarea.full {height: 250px; width: 98%;}
input[type="text"]:focus, textarea:focus {box-shadow: 0 0 3px 2px #A0702E; outline: 0;}
input[type="text"], .input-container, textarea {border: 1px solid #A0702E; line-height: 1.5;}
.input-container {background: #FFFFFF; height: 28px; line-height: 28px; position: relative;}
.input-container > input[type="text"] {border: none; float: left; height: 100%; margin: 0; padding: 0 32px 0 7px;}
.input-container > i {border-left: 1px solid #A0A0A0; display: inline-block; height: 16px; margin: 3px 3px 3px 0; padding: 3px; position: absolute; right: 0; width: 23px;}
select {margin: 3px;}

/*					CONTAINERS					 		*/
.container {background: #FFFFFF; margin: 0 auto;}
.main-content {margin-top: 42px; width: 1037px;}

/*					HEADER								*/
.header, .header li.drop-down ul {background: #F9B546; border-bottom: 1px solid #A0702E; box-shadow: 0 3px 3px 0 #E6D0BB;}
.header { height: 40px; text-align: center; top: 0; width: 100%; z-index: 100;}
.header-container{margin: 0 auto; width: 1037px; height: 40px;}
.header ul > li > * {display: inline-block; vertical-align: middle;}
.header ul > li > input {width: 330px;}
.header ul > .logo {font-family: "Crete Round"; font-size: 14pt; margin-top: -2px;}
.header ul > .logo > a {margin-right: 0; width:75px;}
.header ul li a:not(.x-icon) {padding: 0 6px; width: 89%}
.header ul > li a:hover, .header ul > li a:active, .header ul > li a:focus  {background-color: #FFD566; }
.header input {width: 330px;}
.header .you {position: relative;}
.header li.drop-down > ul {border-left: 1px solid #A0702E; border-right: 1px solid #A0702E; font-size: 8pt; left: 0;}

/*					PROFILE								*/
.profile-header {background: #CCC; height: 60px; padding: 130px 12px 12px; position: relative;}
.profile-header *:not(.btn) {color: #FFFFFF;}
.profile-header > * {float: left; vertical-align: bottom;}
.profile-header .profile-pic {border-radius: 50px; height: 50px; width: 50px;}
.profile-header ul li {float: left; margin-right: 60px;}
.profile-header .follow-button {float: right; height: 23px; margin: 24px 12px 0; padding: 9px 9px 0 9px; text-align: right; width: 82px;};
